<?xml version="1.0"?>
<robot name="Mini">

  <!-- Links used in the kinematic tree -->
  <link name="/bot_0/left_cam"/>
  <link name="/bot_0/base_link"/>
  <link name="/bot_0/right_cam"/>
  <link name="/bot_0/Rear_Right_Wheel_Link"/>
  <link name="/bot_0/Rear_Left_Wheel_Link"/>
  <link name="/bot_0/Front_Left_Wheel_Link"/>
  <link name="/bot_0/Front_Right_Wheel_Link"/>

  <!-- base_link -> cameras -->
  <joint name="Left_Cam" type="fixed">
    <origin xyz="0.039709 -0.066324 0.027"
            rpy="1.5707963267948968 0.0 -0.4363323129987227"/>
    <parent link="/bot_0/base_link"/>
    <child link="/bot_0/left_cam"/>
  </joint>

  <joint name="Right_Cam" type="fixed">
    <origin xyz="-0.03970 -0.066324 0.027"
            rpy="-1.5707963267948966 0.0 -2.705260340591013"/>
    <parent link="/bot_0/base_link"/>
    <child link="/bot_0/right_cam"/>
  </joint>

  <!-- base_link -> wheel stacks -->
  <joint name="Rear_Right_Wheel" type="continuous">
    <origin xyz="0.0582 0.039 0.00965"
            rpy="1.5707963267948963 0.0 0.0"/>
    <parent link="/bot_0/base_link"/>
    <child link="/bot_0/Rear_Right_Wheel_Link"/>
    <axis xyz="0.0 -1.0 0.0"/>
  </joint>

  <joint name="Rear_Left_Wheel" type="continuous">
    <origin xyz="-0.0582 0.039 0.00965"
            rpy="1.5707963267948966 0.0 3.141592653589793"/>
    <parent link="/bot_0/base_link"/>
    <child link="/bot_0/Rear_Left_Wheel_Link"/>
    <axis xyz="0.0 1.0 0.0"/>
  </joint>

  <joint name="Front_Left_Wheel" type="continuous">
    <origin xyz="-0.0582 -0.039 0.00965"
            rpy="1.5707963267948963 0.0 3.141592653589793"/>
    <parent link="/bot_0/base_link"/>
    <child link="/bot_0/Front_Left_Wheel_Link"/>
    <axis xyz="0.0 1.0 0.0"/>
  </joint>

  <joint name="Front_Right_Wheel" type="continuous">
    <origin xyz="0.0582 -0.039 0.00965"
            rpy="1.5707963267948966 0.0 0.0"/>
    <parent link="/bot_0/base_link"/>
    <child link="/bot_0/Front_Right_Wheel_Link"/>
    <axis xyz="0.0 -1.0 0.0"/>
  </joint>
</robot>
