<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="mini_wheel_joints">
    <joint name="TT_Motor_v12_0_Front_Left_Wheel" type="continuous">
      <parent link="base_link"/>
      <child link="front_left_wheel_link"/>
      <origin xyz="0.15 0.1 -0.02" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
    </joint>

    <joint name="TT_Motor_v12_3_Front_Right_Wheel" type="continuous">
      <parent link="base_link"/>
      <child link="front_right_wheel_link"/>
      <origin xyz="0.15 -0.1 -0.02" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
    </joint>

    <joint name="TT_Motor_v12_1_Rear_Left_Wheel" type="continuous">
      <parent link="base_link"/>
      <child link="rear_left_wheel_link"/>
      <origin xyz="-0.15 0.1 -0.02" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
    </joint>

    <joint name="TT_Motor_v12_2_Rear_Right_Wheel" type="continuous">
      <parent link="base_link"/>
      <child link="rear_right_wheel_link"/>
      <origin xyz="-0.15 -0.1 -0.02" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
    </joint>
  </xacro:macro>
</robot>
