<?xml version="1.0"?>
<robot name="Mini" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="robot_namespace" default="bot_keypad"/>
  <xacro:property name="robot_ns" value="$(arg robot_namespace)"/>

  <xacro:include filename="mini_base.urdf"/>
  <xacro:include filename="mini_ros2_control_i2c.urdf"/>

  <xacro:mini_base robot_namespace="${robot_ns}"/>
  <xacro:mini_ros2_control robot_namespace="${robot_ns}"/>
</robot>
