<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:macro name="mini_ros2_control" params="robot_namespace:='' opencr_serial_port:='/dev/ttyACM0' opencr_baud_rate:='115200'">
    <xacro:property name="topic_prefix" value="${'/' + robot_namespace if robot_namespace else ''}"/>
    <ros2_control name="mini_system" type="system">
      <hardware>
        <plugin>opencr_hardware/OpenCRSystem</plugin>
        <param name="serial_port">${opencr_serial_port}</param>
        <param name="baud_rate">${opencr_baud_rate}</param>
        <param name="status_timeout_sec">0.5</param>
        <param name="max_read_iterations">32</param>
      </hardware>
      <joint name="Front_Left_Wheel">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="Front_Right_Wheel">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="Rear_Left_Wheel">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="Rear_Right_Wheel">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>
